

body {
background-color: rgb(49, 22, 22);
color: white;
margin: 0%;
}

.contenedor {
    display: flex;
}

article img { 
    width:  110%;
    height: auto;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.centro {
    display: flex; 
    justify-content: center;
}


#menu {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
   
}


#menu li {
    background-color: black;
    text-transform: uppercase;
    padding: 15px;

    border: solid 3px rgb(0, 255, 191);
}


#menu a {
    text-decoration: none;
    color: blanchedalmond;
}


.buscador {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}


.buscador h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 450%
}


article img { 
    width:  110%;
    height: auto;
}


article { 
    margin: 3%;
}


.vermas {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 5px;
}



 footer {
    background: rgb(0, 200, 107);
    border-radius: 30px 30px 0 0;
    padding: 15px ;
    }


 footer {
    margin-bottom: 0%;
    margin-top: 0%;
    }

    footer p {
        margin: auto;
    }

    .detalle img {
height: 50%;
width: auto;
    }

#titulo {
    max-width: 100%;
}

h2#titulo {
    text-align: center;
}

.corazondeleon 
    {display:block;
        margin:auto;
        width: 50%;
       }

.leontitulo {
    text-align: center;
    font-family: fantasy;
    font-size: 500%;
}


.detalle {
    display: flex;
    }


.detalle p {
    margin: 4%; font-size: 200%; 
}


.elenco {
    margin: 4%;font-size: 200%; 
}


.sinopsis {
    font-size: 200%; 
}
.favoritos {
    font-size: 200%;
}


#pic { 
    width:  30%;
    height: 50%;}


.genero  {
    text-align: center;
    font-size: 100px;
}


.genpeliserie {
    display: flex;
    justify-content: center;
}


.genpeliserie h2 {
    margin-left: 8%;
    margin-right: 8%;
}

.columnasgen   {
    display: flex;
    justify-content: center;
    flex-direction: column
    }

.columnasgen2  {
        display: flex;
        justify-content: center;
        flex-direction: column
        }
    
            
.columnasgen h2 {
    font-size: xx-large;
}

.columna {flex-direction: column}

.listagen { 
    
    text-transform: capitalize;
    list-style: none;
    border: solid 3px rgb(241, 152, 152);
    background-color: rgb(130, 238, 144);
 }

.listagen a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: larger;
 }


.clase {
    display: flex;
}

#menuSegundo {
    display:none;
}

@media (max-width: 768px)
{

    
        
       main{
       justify-content: space-around;
       display: flex;
       flex-direction: column;
    }


        #menu {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            text-align: center;}

     
     .fotos img {width: 135%;
    height: auto;}

#menuSegundo{
    display:none;
}
}
     


@media (max-width: 425px)
{

    .menuGenero {display: none;}

    .buscador{
        border: solid white 1px;
        padding: 5px
        
    }

    .buscador h1{
        color: white;
        font-size: 50px;
        text-align: center;

    }

    .headerGeneroD {display: none;}

    .headerTodo{
        display: none;
    }

    .headerFavoritos{
        display: none;
    }

    .headerGenero{
        display: none;
    }

    .headerDetalle {
        display: none;
    }

   body{
       margin: 0%;
    }
  
   ul #menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    }


    main {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

   .contenedor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
     }

    form {
        margin: 10px;
    }

   article {
      margin: 17%;
      width: 50%;
    }

    .fotos {
        flex-direction: column;
    }


   footer {
      margin-bottom: 0%;
      margin-top: 0%;
    }

  
        nav ul.menuMobile {
            display: flex;
            flex-wrap: wrap;
            margin: 10px 0px;
            justify-content: left;
            padding-inline-start: 0px;
        }
    
        nav ul.menuMobile li{
            display: block;
            background-color: black;
            border: solid white 1px;
            width: 100vw;
            padding: 3px 0px 0px 0px;
            height: 4.5vh;
            text-align: center;   
    
        }
#menuSegundo{
    display: block;
}
}